body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.xuong {
    width: 40px;
    height: 77px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    margin-left: -20px;
    z-index: 2;
    cursor: pointer;
    margin-top: 7%;
}

.xuong:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    background: white;
    left: 50%;
    bottom: 67%;
    margin-left: -2px;
}

.xuong:hover {
    bottom: 2%;
}

.khoittnho {
    margin-top: 55px;
}

h3.tieudecap3 {
    font-size: 18px;
    color: #e35855;
    margin-bottom: 20px;
}
body, html{
    height: 100%;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    text-transform: uppercase;
    color: #101010;
}


a.nav-item {
    padding: 0;
    margin: 0 17px;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0;
    /* top: 0; */
    width: 50%;
    height: 100%;
    background: #e4555b;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 10%;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 50px;
}

.tt h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.tt p {
    color: black;
    font-size: 14px;
    line-height: 24px;
    width: 46%;
    margin: auto;
    margin-bottom: 34px;
}
a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}
.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tieudeto h1 {
    display: inline;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-size: 30px;
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: Segoe ui light;
    color: #555555;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
}

span.motaqt {
    font-size: 18px;
    margin-bottom: 26px;
    display: block;
}

.khoittnho p {
    font-size: 13px;
    line-height: 21px;
    color: #636363;
}

@media (max-width: 576px){
    *{

    }
}

@media (max-width: 576px){
    a.navbar-nav{
        display: block;
    }
}